/* Custom reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,
label,
input,
select,
progress,
meter {
	display: block;
	font-family: inherit;
	font-size: 100%;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
}
/* Custom reset end*/

* {
  box-sizing: border-box;
}

:root {
  --header-color: #222831;
  --body-color: #31363F;
  --nav-btn-hover: #191d24;
  --nav-btn-active: #12141a;
  --text-color: #EEEEEE;
  --btn-color: #76ABAE;
}

img {
  border-radius: 10px;
  border: 5px solid var(--btn-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--body-color);
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

header {
  background-color: var(--header-color);
}

.nav-bar {
  padding: 0 2rem;
  width: 100%;

  display: flex;
  gap: 2rem;
  align-items: center;
}

.logo {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-right: auto;
  cursor: default;
}

.nav-button {
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
  width: auto;
  cursor: pointer;
  color: var(--text-color);
  padding: 1.5rem 0.5rem;
}

.nav-button.active {
  text-shadow: 0 0 10px white;
}

.nav-button:hover {
  background-color: var(--nav-btn-hover);
}

.nav-button:active {
  background-color: var(--nav-btn-active);
}

#content {
  background-color: var(--body-color);
}

#content > .container {
  padding: 2rem;
}

.headline {
  font-size: 3rem;
  font-weight: bolder;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.desc {
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.2;
  width: clamp(45ch, 90%, 80ch);
  margin: 0 auto 1rem;
}

.home-picture {
  max-width: 700px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 1rem;
}

.card {
  background-color: #222831;
  border-radius: 10px;
  padding: 2rem;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  gap: 1rem;
}

.card-image {
  width: 200px;
  height: 200px;

  grid-row: 1 / span 3;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.card-desc {
  font-size: 1.25rem;
  text-align: center;
  width: min(80ch, 100%);
  margin: 0 auto;
}

.card-button {
  background-color: var(--btn-color);
  border: none;
  border-radius: 10px;
  width: auto;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 0.25rem 1rem;
  cursor: pointer;
}